*{
	padding: 0;
	margin: 0;
}
body{
	background-image:url("bg.jpg");
	background-size: cover;
	text-align: center;
}

table{
	margin-top: 30px;
	margin-left: 280px;
	border-spacing: 0;
	float: center;
}

td{width: 900px;
border: 1px;
height: 26px;
text-align: center;}

row{
	text-align:center;
}

th{
	height: 20px;
	border: 1px black;
}
